body{
background: url(http://ayay.co.uk/backgrounds/christmas/winter_scenes/christmas-wall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.fonts{
  font-family: Arial Rounded MT Bold; Futura; sans-serif;
  color: white;
}
.textarea{
  font-family: Arial Rounded MT Bold; Futura; sans-serif;
  font-size: 15px;
  color: black;
  width: 90%;
  border-radius: 12.5px;
  border: none;
  
}
.container {
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 100%;
	height: 90%;
}
.item-1 {
	float: left;
	width: 30%;
	
}
.item-2 { 
	margin: 0;
	float: left;
	width: 30%;
	
}
.item-3 { 
	margin: 0;
	float: left;
	width: 30%;
	
}
footer{
	float: right;
}
